<!DOCTYPE html>
<html>
	<% pic = image_tag("source_pic/pppage.jpg", :alt => "Place page") %>
    <%= link_to pic, comment_path %>
    <BR>
    <pre><p align="center"> <Font face = "courier new", size = '6', color=#9ab>Wookjong Kwak</pre></font>

    <pre><p align="center"><Font face = "courier new", size = '2', color=#666666>wkwak@andrew.cmu.edu </pre></Font></p>
<br>
</html>
