<!DOCTYPE html>
<html>
	<% pic = image_tag("source_pic/pppage.jpg", :alt => "Place page") %>
    <%= link_to pic, comment_path %>
    <br>
    <p><Font color="#9ab",Font size="6",Font face = "courier new"><pre> Wookjong Kwak</pre></Font>
    <br>
    <br>
    <Font face = "courier new"><pre>   wkwak@andrew.cmu.edu </pre></Font>
    </p>
</html>
